@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
.area {
  position: relative;
  width: calc(100% - 270px);
  left: 190px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 20px;
}
.initial-bar {
  position: relative;
  padding: 2px;
  width: 80%;
  left: 210px;
  top: 10px;
}
.date {
  text-align: right;
}
.chart-container {
  background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 450px;
    width: 900px;
    position: relative;
    left: 20px;
}
.linechart-container{
  background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 450px;
    width: 900px;
    position: relative;
    left: 20px;
}
.calendar {
  position: relative;
  left: 20px;
  width: calc(25% - 62px);
  left: 34px;
}
.horizontal-bar {
  position: relative;
  left: 20px;
  margin-bottom: 30px;
  margin-top: 20px;
  width: 585px;
  height: 450px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.linechart-container {
  background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 450px;
    position: relative;
    left: 20px;
}

.certified-area {
  position: relative;
  left: 20px;
  margin-bottom: 30px;
  margin-top: 20px;
  width: 585px;
  height: 450px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.doctor-appointment{
  position: relative;
  left: 20px;
  margin-bottom: 30px;
  margin-top: 20px;
  margin-left: 40px;
  width: 585px;
  height: 450px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.titleDashboard{
  position: relative;
  left: 15px;
  top: 20px;
  font-weight: 600;
  color: rgb(0, 0, 58);
}

.area-chart{
  position: relative;
  left: 20px;
  margin-bottom: 30px;
  margin-top: 20px;
  margin-left: 40px;
  width: 585px;
  height: 450px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.table{
  width: 1200px;
  position: relative;
  left: 20px;
  margin-top: 20px;
}

.dashboard-area{
  overflow-x: hidden;
}

h1{
  margin: 10px 0 0 15px;
  font-family: poppins;
}