<app-nav></app-nav>

<body>
  <section>
    <section class="dashboard-area">
      <section class="initial-bar">
        <h1 class="titleDashboard">Relações governamentais</h1>
        <p class="date">
          Última atualização em: <strong>11/04/2024 06:43</strong>
        </p>
      </section>
      <div class="area">
        <section class="individual-component">
          <app-individual-page-component></app-individual-page-component>
        </section>
        <!-- linha 1 -->
        <div class="card">
          <app-card-dashboard></app-card-dashboard>
        </div>
        <!-- linha 2 -->
        <div class="chart-container">
          <app-barchart></app-barchart>
        </div>
        <div class="calendar">
          <app-calendar></app-calendar>
        </div>
        <!-- linha 3 -->

        <div class="certified-area">
          <app-medical-note-chart></app-medical-note-chart>
        </div>

        <div class="doctor-appointment">
          <app-doctor-appointment-chart></app-doctor-appointment-chart>
        </div>

        <!-- linha 4 -->
        <div class="horizontal-bar">
          <app-my-bar-chart></app-my-bar-chart>
        </div>

        <div class="area-chart">
          <app-area-chart></app-area-chart>
        </div>

        <!-- Linha 5 -->
        <div class="linechart-container">
          <app-linechart></app-linechart>
        </div>

        <div class="zenclub-card">
          <app-zenklub-card></app-zenklub-card>
        </div>

        <!-- <div class="table">
          <app-table></app-table>
        </div> -->
      </div>
    </section>
  </section>
</body>