body {
  display: flex;
  justify-content: left;
  flex-direction: column;
  row-gap: 40px;
}

mat-card {
  margin-left: 60px;
  width: 270px;
  height: 205px;


}
mat-card-title,
h1,
p {
  padding: 2px;
  text-align: center;
}

h1{
  font-weight: 800;
  font-family: poppins;
}
p {
  font-weight: 200;
  font-family: poppins;
}

mat-card-title{
  font-family: poppins;
  font-size: 18px;
}