<body>
  <mat-card>
    <mat-card-title>Média mensal de sessões no zenklub</mat-card-title>
    <section class="container">
      <mat-card-content>
        <h1>596 sessões</h1>
        <p>Outubro é o mês com maior uso (765 sessões)</p>
      </mat-card-content>
    </section>
  </mat-card>

  <mat-card>
    <mat-card-title
      >Quantidade de Meses com mais de 10 sessões por mês </mat-card-title
    >
    <section class="container">
      <mat-card-content>
        <h1>52</h1>
        <p>2,3% of total de sessões por mês (2,247)</p>
      </mat-card-content>
    </section>
  </mat-card>
</body>
