html {
  font-size: 16px;
}

@media only screen and (min-width: 700px) {
  .grid_1 {
    background-color: #000000;
    display: grid;
    place-items: center;
    height: 100vh;
    width: 50%;
    float: left;
  }

  .grid_2 {
    background-color: white;
    color: white;
    display: grid;
    place-items: center;
    height: 100vh;
    width: 50%;
    float: right;
  }

  .grid_1 video {
    width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 767px) {
  .tela {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .grid_1 {
    width: 100%;
    float: none;
    position: relative;
  }

  .grid_2 {
    width: 100%;
    float: none;
    text-align: center;
    position: relative;
  }

  .grid_1 video {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }

  .switch-container {
    position: absolute;
    top: calc(86.5% - 120px);
    left: 28.4%;
    transform: translateX(-50%);
  }

  .grid_1,
  .grid_2 {
    height: auto;
  }

  .grid_1,
  .grid_2 .page {
    padding: 20px;
  }
}

.page {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.formLogin {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 7px;
  padding: 40px;
  gap: 5px;
}

.formLogin .h1 {
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 2.3em;
}

.formLogin p {
  display: inline-block;
  font-size: 14px;
  color: #012d5e;
  margin-bottom: 25px;
}

.formLogin input {
  padding: 15px;
  font-size: 14px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  margin-top: 5px;
  border-radius: 4px;
  transition: all linear 160ms;
  outline: none;
}

.formLogin input:focus {
  border: 1px solid #206cff;
}

.formLogin label {
  font-size: 14px;
  font-weight: 600;
}

.formLogin a {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 13px;
  color: black;
  transition: all linear 160ms;
}

.formLogin a:hover {
  color: #206cff;
}

.formLogin input:hover::placeholder {
  color: #206cff;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin-right: 1px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: gray;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 1px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.btn {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  background-color: #001e50;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  transition: all linear 160ms;
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.05);
}

@media only screen and (max-width: 426px) {
  .switch-container {
    position: absolute;
    top: calc(86.5% - 120px);
    left: 32%;
    transform: translateX(-50%);
  }
}
