<section class="organization-card">
    <img src="../../../assets\user.png" alt="profile image" class="profile-image">
    <div class="card-info">
        <section class="inidividual-data">
            <p class="name">Líder: </p>
            <p>Luiz Ricardo de Medeiros Santiago</p>
        </section>
        <section class="inidividual-data">
            <p class="name">Área: </p>
            <p>B-A Relacoes governamentais</p>
        </section>
        <section class="inidividual-data">
            <p class="name"> Situação do time (com relação à STIBA): </p>
            <p class="position">Abaixo da média em -0.50 pontos</p>
        </section>